<article class="review">

  <tr>
      <td><%= "#{User.find(review.user_id).last}, #{User.find(review.user_id).first}" %></td>
      <td><%= review.description %></td>
      <td><%= review.rating %></td>
      <td><%= review.created_at.strftime("%b %d %y") %></td>
      <td>
        <%if current_user && (current_user.id == review.user_id) %>
          <%= link_to fa_icon('trash'),  review_path(review.id),class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
        <%end%>
      </td>
</tr>
